* {
	font-family: 'Comic Sans MS';
}

body {
	background-color: #282828;
}

@media only screen and (max-width: 666px) {
	.img {
		width: 30px;
		height: 30px;
	}
}

@media only screen and (min-width: 666px) {
	.img {
		width: 50px;
		height: 50px;
	}
}

@media only screen and (max-height: 750px) {
	footer * {
		display: none;
	}
}

@media only screen and (min-height: 750px) {
	footer {
		background-color: #fffafa;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-column-gap: 10px;
		position: fixed;
		bottom: 0;
		width: 100%;
		font-size: 13px;
	}
}

a {
	text-decoration: none;
}

.images {
	padding-top: 5px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	text-align: right;
}

.copyright {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.panel {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.map {
	border: 6px dotted pink;
	border-radius: 20px;
	padding: 10px;
	background-color: #fffafa;
}

#text {
	color: #fffafa;
	margin: 8px;
}

.boxBtn {
	color: #282828;
	background-color: pink;
	border-radius: 20px;
}